.body-class{
    /* width: 900px; */
    background-color: rgb(194, 250, 250);
    
}
#colDivHtml img{
    width: 100%;
}

#eachDetailsId{
width: 325px;
height: auto;
margin:5px auto 30px 500px;
border-radius: 15px;

}
#eachDetailsId img{
    width:100%
}
 #colDivHtml {
  width: 22%;
  margin: 5px ;
  border-radius: 15px;
}
